{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-2 mt-2">
            <a class="btn btn-warning" href="{% url 'index' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-8"><h4 class="text-center mt-2 mb-3">Telefon Numaraları</h4>
        </h3>
    </div>
    </div>    
    {% for service in services %}
    
    <p class="text-center">{{service.full_name}}</p>
    <p class="text-center">9_{{service.phone_number}}</p>
    <hr>
    {% endfor %}
    
</div>
{% endblock body %}
